@charset "UTF-8";
li {
  list-style: none;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color:#111;
}
* {
  box-sizing:border-box;
}
img {
  width: 100%;
}
/*-----------------------------------------ここからハンバーガーメニュー-----------------------------------------------------------------*/
.header-wrap{
    max-width: 1300px;
    padding: 18px 28px;
    &__title{
        display: none;
    }
    &__description{
        display: none;
    }
}
.navi{
    width: 100%;
    &__li{
        color:#fff;
        font-size: 14px;
    }
    li{
        border-bottom:1px solid #fff;
        padding: 20px 30px;
       
    }
}
.menu-wrap{
    display: flex;
    justify-content:space-between;
    &__menu{
        font-size: 13px;
        color:#656c6e;
    }
    
}
.hamburger{
    span{
        width: 15px;
        height: 1px;
        display: block;
        background-color:#111;
        margin-bottom: 3px;
    }
}
.toggle_contents{
    display: none;
    background-color:rgba(101, 108, 110,0.9);
}
.background-color{
    background-color:#fff;
    opacity:1!important;
}
.open{
    display: block;
    z-index:10;
    position:absolute;
    top:0;
    left:0;
}
/*-----------------------------------------ここまでハンバーガーメニュー-----------------------------------------------------------------*/


/*------------------------------------------ここからkey frames-----------------------------------------------*/
.hero{
    position:relative;
    min-height:100vh;
}
.img1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    min-height:100vh;
    object-fit:cover;
    z-index:0;
    animation-name: changeMainImage;
    animation-duration: 26s;
    animation-iteration-count: infinite;
}
.img14 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    min-height:100vh;
    object-fit:cover;
    z-index:0;
    animation-name: changeMainImage;
    animation-delay: 5s;
    animation-duration: 26s;
    animation-iteration-count: infinite;
}
.img15 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    min-height:100vh;
    object-fit:cover;
    z-index:0;
    animation-name: changeMainImage;
    animation-delay: 10s;
    animation-duration: 26s;
    animation-iteration-count: infinite;
}
.img16 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    min-height:100vh;
    object-fit:cover;
    z-index:0;
    animation-name: changeMainImage;
    animation-delay: 15s;
    animation-duration: 26s;
    animation-iteration-count: infinite;
}
.img17 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    min-height:100vh;
    object-fit:cover;
    z-index:0;
    animation-name: changeMainImageLast;
    animation-delay: 20s;
    animation-duration: 26s;
    animation-iteration-count: infinite;
}
@keyframes changeMainImage {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.3;
  }
  33% {
    opacity: 0.1;
  }
  35% {
    opacity: 0;
  }
}
@keyframes changeMainImageLast {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

/*--------------------------------------------ここまでkey frames----------------------------------------------*/

.center{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  &__title,&__description{
    color:#fff;
    font-family:"Gill Sans Condensed Regular", sans-serif;
  }
  &__title{
    font-size: 35px;
    letter-spacing:2px;
    font-weight: bold;
  }
  &__description{
    margin-top: 20px;
    font-size: 11px;
  }
  p{
    text-align: center;
  }
}
.pas-pol{
  background-color:#f6f6f6;
  &__container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 80px 25px;
  }
  &__title{
    font-weight: bold;
    font-size: 35px;
    letter-spacing:2px;
    margin-bottom: 35px;
  }
  &__explain{
    margin-bottom: 20px;
    line-height:1.7em;
    font-size: 15px;
  }
  span{
    font-weight: bold;
    font-size: 25px;
  }
}
.section{
  text-align: center;
  padding: 80px 0;
  &__title{
    font-size: 25px;
  }
  &__link{
    display: none;
  }
  &__title{
    text-align: center;
  }
}
.flex-box{
  &__list{
    margin-bottom: 20px;
  }
  &__text{
    padding: 0 40px;
    line-height:1.8em;
    font-weight: bold;
    text-align:initial;
    font-size: 18px;
  }
  img{
    width: 70%;
  }
}
.more{
  border:1px solid #111;
  display: inline-block;
  padding: 15px 60px;
  margin-top: 40px;
  text-align: center;
}
.section-background-color{
  background-color:#f6f6f6;
  
}
.information{
  margin-bottom: 40px;
}
.information-wrap{
  margin-top: 50px;
  padding: 0 20px;
}
.explain{
  margin-top: 20px;
  text-align:initial;
  &__title{
    line-height:1.8em;
  }
  time{
    margin-top: 10px;
    color: #656c6e;
    font-size: 10px;
  }
}
.sns{
  margin: 40px 0;
  display: flex;
  flex-wrap:wrap;
  justify-content:space-around;
  align-content:space-between;
  padding: 0 20px;
  &__list1{
    border:1px solid #4872A9;
    color:#4872A9;
    padding: 15px 10px;
    width: 150px;
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  &__list2{
    border:1px solid #70BDD2;
    color:#70BDD2;
    padding: 15px 10px;
    width: 150px;
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  &__list3{
    border:1px solid #319BCC;
    color:#319BCC;
    padding: 15px 10px;
    width: 150px;
    font-size: 13px;
    display: block;
    text-align: center;
  }
  &__list4{
    border:1px solid #B8D7C1;
    color:#B8D7C1;
    padding: 15px 10px;
    width: 150px;
    font-size: 13px;
    display: block;
    text-align: center;
  }
}
.footer-navi{
  background-color:#939899;
  li{
    border-bottom:1px solid #fff;
    text-align: center;
    padding: 15px 0;
  }
  a{
    color:#fff;
    font-size: 14px;
  }
}
footer{
  background-color:#656C6E;
  color:#fff;
  text-align: center;
  font-size: 10px;
  line-height:1.5em;
  padding: 30px 0;
}

@media screen and (min-width:768px) { 
  .pas-pol{
    &__container{
      width: 320px;
    }
  }
  .section{
    &__flex-box{
      display: flex;
      padding: 0 40px;
      justify-content:space-between;
    }
    &__link{
      display: block;
      border: 1px solid #111;
      display: inline-block;
      padding: 15px 60px;
      text-align: center;
    }
  }
  .flex-box{
    display: flex;
    flex-wrap:wrap;
    width:600px;
    margin:50px auto 0;
    
    &__link{
      display: flex;
      flex-direction:column;
    }
    &__image{
      width: 200px;
    }
    &__text{
      padding-top: 60px;
    }
    &__list{
      width: 200px;
    }
  }
  .display-none{
    display: none;
  }
  .information{
    display: flex;
    justify-content:space-around;
    a{
      display: block;
    }
  }
  .explain{
    width: 300px;
    margin-top: 0;
  }
  .line{
    display: none;
  }
  .sns{
    justify-content:center;
    li{
      margin-left: 30px;
    }
  }
  .footer-navi{
    ul{
      display: flex;
      justify-content:center;
    }
    li{
      border:none;
      margin-left: 40px;
    }
  }
  .pas-pol{
    &__title{
      font-size: 40px;
    }
    &__explain{
      margin-top: 50px;
      font-size: 18px;
    }
    &__container{
      padding: 120px 0;
      width: 323px;
    }
    span{
      font-size: 30px;
    }
  }
}

@media screen and (min-width:1024px) { 
  .center{
    top:80px;
    left:210px;
  }
  .menu-wrap{
    &__menu{
      display: none;
    }
  }
  .header-wrap{
    padding: 0;

  }
  .hamburger{
    display: none;
  }
  .toggle_contents{
    display: flex!important;
    position:absolute;
    background:none;
    right:90px;
    top:88px;
    z-index:10;
    max-width:500px;
  }
  .navi{
    li{
      border:none;
      padding: 0;
      margin-left: 40px;
    }
  }
  .background-color{
    background:none;
  }
  .pas-pol{
    &__container{
      padding: 180px 0 120px;
    }
  }
  .flex-box{
    &__link{
      flex-direction:column;
    }
    img{
      width: 100%;
    }
  }
  .flex-box{
    display: flex;
    width: 750px;
    margin-top: 100px;
  }
  
  .information-wrap{
    display: flex;
    flex-wrap:wrap;

  }
.information{
  width: 700px;
}
} 
